name: Community Pipeline Tests

on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: "3.11.x"
      event-type:
        required: false
        type: string
        default: "regular-testing-event"
    secrets:
      LLM_MODEL:
        required: true
      LLM_ENDPOINT:
        required: true
      LLM_API_KEY:
        required: true
      LLM_API_VERSION:
        required: true
      EMBEDDING_MODEL:
        required: true
      EMBEDDING_ENDPOINT:
        required: true
      EMBEDDING_API_KEY:
        required: true
      EMBEDDING_API_VERSION:
        required: true

jobs:
  test-codify:
    name: "Codify Community Pipeline Test"
    uses: ./.github/workflows/test_codify.yml
    with:
      python-version: ${{ inputs.python-version || '3.11.x' }}
      event-type: ${{ inputs.event-type }}
    secrets: inherit